DJANGO_SECRET_KEY='django-insecure-8hnb@fxn4u74$!y#r-a0y9a7s=r^5!yhs$kv_hs49iu84s7qji'

POSTGRES_DB=schedule
POSTGRES_USER=app
POSTGRES_PASSWORD=123qwe
DB_HOST=postgres_db
DB_PORT=5432

DJANGO_SUPERUSER_PASSWORD=123
DJANGO_SUPERUSER_EMAIL=admin@mail.ru
DJANGO_SUPERUSER_USERNAME=admin
